.edit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 0.5em;
}

.add-button, .edit-button, .delete-button, .details-button {
    width: fit-content;
    background-color: white;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s,
                background-color 0.3s;
}

.add-button {
    border-color: rgb(5, 173, 5);
    color: rgb(5, 173, 5);
}

.add-button:hover {
    background-color: rgb(5, 173, 5);/*rgb(108, 117, 125);*/
}

.edit-button {
    border-color: rgb(173, 173, 5);
    color: rgb(173, 173, 5);
}

.edit-button:hover {
    background-color: rgb(173, 173, 5);
}

.delete-button {
    border-color: rgb(173, 5, 5);
    color: rgb(173, 5, 5);
}

.delete-button:hover {
    background-color: rgb(173, 5, 5);
}

.details-button {
    border-color: rgb(5, 75, 173);
    color: rgb(5, 75, 173);
}

.details-button:hover {
    background-color: rgb(5, 75, 173);
}

.add-button:hover, .edit-button:hover, .delete-button:hover,  .details-button:hover {
    color: white;
}

@media only screen and (max-width: 729px) {
    .add-button, .edit-button, .delete-button, .details-button {
        font-size: 8px;
    }
}

@media only screen and (min-width: 730px) {
    .add-button, .edit-button, .delete-button, .details-button {
        font-size: 16px;
    }
}
