{% extends 'core/base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
{% load static %}
    <link rel="stylesheet" href="{% static 'core/forms.css' %}">

    <div class="form-profile">
        <div class="form-signature" >Edycja wydarzenia </div>
        <form method="post" action="." enctype="multipart/form-data" class="form">
            {% csrf_token %}
            <div class="nested-form">
                {{ event_form.as_p }}
            </div>
                {% if form.errors or form.non_field_errors %}
                    <div>
                        {% for field in form %}
                            {{ field.errors }}
                        {% endfor %}

                        {{ form.non_field_errors }}
                    </div>
                {% endif %}
            <button type="submit" class="save-button"> Zapisz zmiany </button>
        </form>
    </div>

{% endblock %}
