<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" href="{% static 'core/header.css' %}">
        <link rel="stylesheet" href="{% static 'core/main.css' %}">
        <link rel="stylesheet" href="{% static 'core/footer.css' %}">
        <link rel="stylesheet" href={% static 'core/contact.css' %}>

        <title>{% block title %}{% endblock %} | DKF </title>


    </head>
    <body>
        <header class="header">
            <div class="left-side">
                <img class="logo-img" src={% static 'core/images/logo.png' %} alt="logo">
            </div>
            <nav class="nav-links">
                <a class="single-link {% block nav_index_active %}{% endblock %}" href="{% url 'core:index' %}">Aktualności</a>
                <a class="single-link {% block nav_all_events_active %}{% endblock %}" href="{% url 'event:all_events' %}">Wydarzenia</a>
                <a class="single-link {% block nav_statistics_active %}{% endblock %}" href="{% url 'movie:get_all_movies' %}">Filmy</a>
                <a class="single-link {% block nav_contact_active %}{% endblock %}" href="{% url 'core:contact' %}">O nas</a>
            </nav>
            <div class="right-side">
                {% if request.user.is_authenticated %}
                    <div class="toggle">
                        <button class="toggle-button js-toggle-button"> Konto </button>
                    </div>
                    <div class="account-menu js-account-menu">
                        <a class="menu-option menu-option-negative" href="#"> {{ request.user.username }} </a>
                        <a class="menu-option" href="{% url 'movie:your_votes' %}"> Twoje oceny </a>
                        <a class="menu-option" href="{% url 'core:logout' %}"> Wyloguj się  </a>
                        <a class="menu-option" href="{% url 'core:change_password' %}"> Zmień hasło </a>
                    </div>

                {% else %}
                    <div class="login-area">
                        <a href="{% url 'core:login' %}"> <button class="log-button"> Zaloguj się </button> </a>
                    </div>
                {% endif %}
            </div>
        </header>
        <script src="{% static 'core/scripts/base.js' %}"></script>
        <main class="main">
            <div class="welcoming-text">
                DKF Politechnika - kino
            </div>
            {% if messages %}
                {% for message in messages %}
                    <div class="message">
                        {{ message|safe|escape }}
                    </div>
                {% endfor %}
            {% endif %}
            {% block content %}
            {% endblock %}
        </main>
        <footer class="footer">
            <div style="font-weight: bold; margin: 0.5em;">
                Kontakt:
            </div>
            <div class="footer-info">
                <div>
                    dkfpolitechnika@gmail.com
                </div>
                <div class="single-footer-logo-img">
                    <a href="https://www.facebook.com/dkfpolitechnika">
                        <img style="width: 100%;" src={% static 'core/images/Facebook_Logo_Secondary.png' %}> </a>
                    </a>
                </div>
                <div class="single-footer-logo-img">
                    <a href="https://www.instagram.com/dkfpolitechnika/">
                        <img style="width: 100%" src={% static 'core/images/Instagram_Glyph_white.png' %}> </a>
                    </a>
                </div>
            </div>
            <div style="text-align: center; padding-bottom: 0.5em;">
                Dyskusyjny Klub Filmowy Politechnika na Politechnice Wrocławskiej
            </div>
        </footer>
    </body>
</html>