.single-vote {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.vote-generally {
    display: flex;
    flex-direction: row;
    padding-bottom: 1em;
}

.vote-generally > * {
    flex: 1;
}

.vote-thumbnail {
    display: block;
    width: 90%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    transition: 0.3s ease;
}

@media only screen and (max-width: 729px) {
    .single-vote {
        font-size: 10px;
        width: 75%;
    }
}

@media only screen and (min-width: 730px) {
    .single-vote {
        font-size: 18px;
        width: 50%;
    }
}